name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plugin
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: plugin/package-lock.json

      - uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache-dependency-path: plugin/go.sum

      - name: Install dependencies
        run: npm ci

      - name: Lint frontend
        run: npm run lint

      - name: Test frontend
        run: npm run test:ci

      - name: Build frontend
        run: npm run build

      - name: Build backend
        run: |
          go mod download
          GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -ldflags="-w -s" -o dist/gpx_ssh_prometheus_datasource_linux_amd64 ./pkg
          GOOS=linux GOARCH=arm64 CGO_ENABLED=0 go build -ldflags="-w -s" -o dist/gpx_ssh_prometheus_datasource_linux_arm64 ./pkg
          GOOS=darwin GOARCH=amd64 CGO_ENABLED=0 go build -ldflags="-w -s" -o dist/gpx_ssh_prometheus_datasource_darwin_amd64 ./pkg
          GOOS=darwin GOARCH=arm64 CGO_ENABLED=0 go build -ldflags="-w -s" -o dist/gpx_ssh_prometheus_datasource_darwin_arm64 ./pkg
          GOOS=windows GOARCH=amd64 CGO_ENABLED=0 go build -ldflags="-w -s" -o dist/gpx_ssh_prometheus_datasource_windows_amd64.exe ./pkg
